---
import CallToAction from './CallToAction.astro';
import ExternalLink from './ExternalLink.astro';
import ExternalLinkSocial from './ExternalLinkSocial.astro';
import Logo from './Logo.astro';

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear();
---

<footer>
    <CallToAction />
    <section class="py-20">
        <h2 class="sr-only">Footer</h2>
        <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
            <div class="flex flex-col gap-4">
                <h3 class="text-2xl font-bold">Navigation</h3>
                <ul class="flex flex-col gap-2">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
            </div>
            <div class="flex flex-col gap-4">
                <h3 class="text-2xl font-bold">Projects</h3>
                <ul class="flex flex-col gap-2">
                    <li><a href="/accessibility-statement">Commercial</a></li>
                    <li><a href="/accessible-components">Residential</a></li>
                    <li><a href="/color-contrast-checker">Civic</a></li>
                </ul>
            </div>
            <div class="flex flex-col gap-4">
                <h3 class="text-2xl font-bold">Social</h3>
                <ul class="flex flex-col gap-2">
                    <li>
                        <ExternalLinkSocial preIcon="lucide:house" href="https://www.houzz.com/pro/karenaitkenassociates/karen-aitken-and-associates">
                            KAA on Houzz
                        </ExternalLinkSocial>
                    </li>
                    <li>
                        <ExternalLinkSocial preIcon="lucide:instagram" href="https://www.instagram.com/karenaitkenassociates/">Instagram</ExternalLinkSocial>
                    </li>
                    <li>
                        <ExternalLinkSocial preIcon="lucide:facebook" href="https://www.facebook.com/KarenAitkenAssociates/">Facebook</ExternalLinkSocial>
                    </li>
                    <li>
                        <ExternalLinkSocial preIcon="lucide:youtube" href="https://www.youtube.com/@karenaitkenassociates-land8166">Youtube</ExternalLinkSocial>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-4">
                <Logo loading="lazy" />
                <p class="leading-[1.75]">Let us help you create the <b>garden</b> of your <b>dreams</b>.</p>
            </div>
        </div>
    </section>
    <section class="py-8">
        <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
            <p>
                &copy; {currentYear} - Karen Aitken & Associates.
            </p>
            <p>
                Made with ❤️ by <a href="https://www.linkedin.com/in/pedro-daniel-gg/" target="_blank">Pedro Garcia</a>. With <a href="https://www.incluud.dev"
                    >Astro</a
                >.
            </p>
        </div>
    </section>
</footer>

<style>
    section {
        border-top: 1px solid var(--border-color-subtle);
    }
</style>
