---
import config from '@/config/config.json';
const { logo, logo_width, logo_height, logo_text, title } = config.site;
const logoPath = logo.startsWith('@') ? logo.replace('@', '') : logo;
---

<a href="/" class="navbar-brand block">
    {logo ? <img src={logoPath} width={logo_width} height={logo_height} alt={title} class="h-auto max-h-[70px] w-auto" /> : logo_text ? logo_text : title}
</a>

